# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
myVenv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log